#directories
CMakeFiles*
bin*
build*

#files
CMakeCache.txt*
Makefile*
*.autosave*
*.bak*
*.cmake*
*.log*
*.make*
*.ninja*
*.old*
*.o*
*.obj*
*.out*
*.user*

*.cbp*
*.kateproject*
*.kdevelop*
*.kdevses*
*.layout*
*.project*
*.sln*
*.sublime-project*
*.vcxproj*
*.workspace*
